@font-face {
	font-family: Catalogue;
	src: url("assets/fonts/catalogue.otf");
	font-weight: 500;
}
@font-face {
	font-family: Catalogue;
	src: url("assets/fonts/catalogue-italic.otf");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: Catalogue;
	src: url("assets/fonts/catalogue-bold.otf");
	font-weight: 700;
}
@font-face {
	font-family: Catalogue;
	src: url("assets/fonts/catalogue-bold-italic.otf");
	font-weight: 700;
	font-style: italic;
}
@font-face {
	font-family: Catalogue;
	src: url("assets/fonts/catalogue-light.otf");
	font-weight: 300;
}
@font-face {
	font-family: Catalogue;
	src: url("assets/fonts/catalogue-light-italic.otf");
	font-weight: 300;
	font-style: italic;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	cursor: none;
	touch-action: manipulation;
}
:root {
	--green-superdark: #092f00;
	--green-extradark: #136700;
	--green-dark: #22AA02;
	--green-light: #91EE1B;
	--green-extralight: #baff60;
	--pink-extradark: #961a5e;
	--pink-dark: #E847A0;
	--pink-light: #FE7EC5;
	--pink-extralight: #fcc7e4;
	--white: #fafafa;
	--gray: #7d7d7d;
	--doc-height: 100%;
	--scale: 98px;
}
body {
	font-family: Catalogue, serif;
	font-weight: 300;
	background-color: var(--green-superdark);
}

/* Scrollbar */
/* ::-webkit-scrollbar {
	width: 20px;
}
::-webkit-scrollbar-track {
	background: var(--green-extradark);
	box-shadow: inset -5px -5px 10px var(--green-extradark), inset 5px 5px 10px var(--green-light);
}
::-webkit-scrollbar-thumb {
	background: var(--green-light);
	box-shadow: inset -5px -5px 10px var(--green-extradark), inset 5px 5px 10px var(--green-light);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: var(--white);
} */

/* CURSOR */
.cursor {
	display: none;
	position: fixed;
	z-index: 9999999;
	pointer-events: none;
	transform-origin: 0 0;
	animation: cursor 1s alternate infinite ease-in-out;
}
.cursor img {
	transform-origin: 0 0;
	width: 50px;
	transition: .2s;
	filter: drop-shadow(5px 5px 10px rgba(0,0,0,.2));
}
@keyframes cursor {
	from {
		transform: rotate(3deg) scale(.8);
	} to {
		transform: rotate(-3deg) scale(1);
	}
}

/* LOGO */
.logo {
	mix-blend-mode: screen;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100vw;
	height: 100vh;
	z-index: 9;
	pointer-events: none;
	transform: translate(-50%, -50%);
	transition: 2s cubic-bezier(0.76, 0, 0.24, 1);
}
.logo[data-transition="1"] {
	top: 100px;
	left: calc(100% - 140px);
	width: 200px;
	height: 168px;
}

/* STRUCTURE */
.container {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	position: relative;
	display: grid;
	grid-template-columns: 500px 1fr;
}
.sidebar {
	width: 500px;
	display: grid;
	height: 100vh;
	grid-template-rows: 1fr 60px 4fr 200px;
	z-index: 10;
	position: relative;
	transition: transform 1.5s cubic-bezier(0.76, 0, 0.24, 1);
	background-color: var(--green-extradark);
	transform: translateX(-100%);
}
.sidebar[data-active="1"] {
	transform: translateX(0%);
}

/* TITLE */
.title {
	font-size: 24px;
	letter-spacing: -.02em;
	padding: 20px;
	font-weight: 500;
	text-align: center;
	color: var(--gray);
	line-height: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--white);
	box-shadow: inset -5px -5px 10px var(--gray), inset 5px 5px 10px white;
}

/* FILTERS */
.catalog-filters {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	align-content: stretch;
	height: 60px;
	padding: 5px;
	gap: 5px;
}
.catalog-filter {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--green-extradark);
	box-shadow: inset -5px -5px 5px var(--green-dark), inset 5px 5px 5px black;
	padding: 5px;
	transition: background-color .2s, box-shadow .2s, fill .2s;
	border-radius: 20px;
	fill: var(--green-dark);
}
.catalog-filter:hover {
	box-shadow: inset -5px -5px 5px var(--green-extradark), inset 5px 5px 5px var(--green-light);
	color: var(--white);
	fill: var(--green-light);
}
.catalog-filter:active {
	box-shadow: inset -5px -5px 5px var(--green-dark), inset 5px 5px 5px black;
	background-color: var(--green-extradark);
	fill: var(--green-dark);
}
.catalog-filter[data-active="1"] {
	background-color: var(--pink-dark);
	box-shadow: inset -5px -5px 10px var(--pink-extradark), inset 5px 5px 10px var(--pink-light);
	fill: var(--pink-extralight);
}
.catalog-filter[data-active="1"]:hover {
	box-shadow: inset -5px -5px 5px var(--pink-extradark), inset 5px 5px 5px var(--pink-light);
}
.catalog-filter[data-active="1"]:active {
	background-color: var(--pink-extradark);
	box-shadow: inset -5px -5px 5px var(--pink-dark), inset 5px 5px 5px black;
	fill: var(--pink-dark);
}
.catalog-filter img, .catalog-filter svg {
	height: 40px;
	width: 40px;
	transition: filter .2s;
}

/* CATALOG */
.catalog {
	overflow-y: scroll;
	line-height: 1.2em;
	display: flex;
	flex-direction: column;
	position: relative;
	scroll-behavior: smooth;
}
.catalog * {
	font-size: 16px;
	letter-spacing: -.02em;
}
.catalog-item {
	display: flex;
	align-items: center;
	gap: 10px;
	background-color: var(--green-dark);
	box-shadow: inset -5px -5px 10px var(--green-extradark), inset 5px 5px 10px var(--green-light);
	color: var(--white);
	fill: var(--green-light);
	padding: 10px;
	transition: box-shadow .2s, background-color .2s, fill .2s;
}
.catalog-item:hover {
	box-shadow: inset -10px -10px 10px var(--green-extradark), inset 10px 10px 10px var(--green-light);
	fill: var(--green-extralight);
}
.catalog-item:active {
	box-shadow: inset -5px -5px 10px var(--green-light), inset 5px 5px 10px var(--green-extradark);
	fill: var(--green-extradark);
}
.catalog-item-img {
	display: flex;
	align-items: center;
	justify-content: center;
}
.catalog-item-img svg {
	width: 2em;
	height: 2em;
}
.catalog-item-artist {
	font-weight: 700;
}
.catalog-item-description {
	margin-top: 5px;
	font-style: italic;
}
.catalog-item-featured {
	background-color: var(--pink-light);
	box-shadow: inset -5px -5px 10px var(--pink-extradark), inset 5px 5px 10px var(--pink-light);
	fill: var(--pink-extralight) !important;
}
.catalog-item-featured:hover {
	box-shadow: inset -10px -10px 10px var(--pink-extradark), inset 10px 10px 10px var(--pink-light);
	fill: var(--white) !important;
}
.catalog-item-featured:active {
	box-shadow: inset -5px -5px 10px var(--pink-light), inset 5px 5px 10px var(--pink-extradark);
	fill: var(--pink-dark) !important;
}

/* CONTROLS */
.controls {
	display: grid;
	grid-template-areas: "left up right" "left down right";
	transition: opacity .2s;
}
.controls button {
	background-color: var(--green-dark);
	box-shadow: inset -5px -5px 10px var(--green-extradark), inset 5px 5px 10px var(--green-light);
	border: unset;
	display: flex;
	fill: var(--white);
	align-items: center;
	justify-content: center;
	transition: box-shadow .2s;
}
.controls svg {
	width: 40px;
	height: 40px;
}
#controls-up {
	grid-area: up;
}
#controls-up svg {
	transform: rotate(-90deg);
}
#controls-down {
	grid-area: down;
}
#controls-down svg {
	transform: rotate(90deg);
}
#controls-left {
	grid-area: left;
}
#controls-left svg {
	transform: rotate(-180deg);
}
#controls-right {
	grid-area: right;
}
.controls button:hover {
	box-shadow: inset -10px -10px 10px var(--green-extradark), inset 10px 10px 10px var(--green-light);
}
.controls button:active {
	box-shadow: inset -5px -5px 10px var(--green-light), inset 5px 5px 10px var(--green-extradark);
}
.controls button:focus-visible {
	outline: unset;
}
.controls button[data-toggle="1"] {
	box-shadow: inset -5px -5px 10px var(--green-light), inset 5px 5px 10px var(--green-extradark);
}

/* MAP */
.map-container {
	position: relative;
	height: 100%;
	transform: scale(0);
	transition: transform 1.5s;
}
.map {
	display: grid;
	grid-template-columns: repeat(42, 1fr);
	position: absolute;
	transition: top .2s, left .2s;
}
.map-cell {
	aspect-ratio: 1 / 1;
	width: calc(var(--scale) + 4px);
	height: calc(var(--scale) + 4px);
	border: 4px dotted var(--green-dark);
	margin: -2px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.map-cell[data-offlimits="1"] {
	border: unset;
}
.map-player {
	background-color: var(--green-light);
	border-radius: 50%;
	width: 90%;
	height: 90%;
	box-shadow: inset -10px -10px 10px var(--green-extradark), inset 10px 10px 10px var(--green-light);
	pointer-events: none;
	animation: map-player 1s ease-in-out alternate infinite;
}
@keyframes map-player {
	from {
		transform: scale(1);
	} to {
		transform: scale(.8);
	}
}
.map-indicator {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	animation: map-player 1s ease-in-out alternate infinite;
	fill: var(--green-light);
	transition: fill .2s;
}
.map-indicator[data-visited="1"] {
	fill: var(--pink-light);
}
.map-indicator svg {
	width: 100%;
	height: 100%;
	transition: transform .5s;
}
.map-indicator:hover {
	fill: var(--green-extralight);
}
.map-indicator:hover svg {
	transform: rotate(10deg);
}
.map-indicator:active {
	fill: var(--green-dark);
}
.map-indicator:active svg {
	transform: scale(.8) rotate(10deg);
}
.map-indicator[data-visited="1"]:hover {
	fill: var(--pink-extralight);
}
.map-indicator[data-visited="1"]:active {
	fill: var(--pink-dark);
	transform: scale(.8);
}
.map-trail {
	position: absolute;
	width: 10px;
	height: 10px;
	z-index: -1;
	border-radius: 50%;
	background-color: var(--pink-light);
	pointer-events: none;
	box-shadow: inset -1px -1px 1px var(--pink-extradark), inset 1px 1px 1px var(--pink-light);
	/* animation: map-trail 1s ease-in-out alternate infinite; */
}
@keyframes map-trail {
	from {
		transform: scale(1);
	} to {
		transform: scale(.5);
	}
}

/* INTRO LETTER */
.letter-container {
	width: 100vw;
	height: var(--doc-height);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
	transition: transform .5s ease-in-out;
}
.letter-content {
	display: flex;
	flex-direction: column;
	gap: .8em;
	font-size: 24px;
	line-height: 1.1em;
	letter-spacing: -0.02em;
	padding: 80px;
	background-color: var(--green-extradark);
	color: var(--white);
	overflow-y: scroll;
	box-shadow: inset -20px -20px 30px var(--green-dark), inset 20px 20px 30px var(--green-superdark);	transition: color .2s, box-shadow .2s, background-color .2s, transform .6s cubic-bezier(0.76, 0, 0.24, 1);
}
.letter-content ol {
	margin-left: 40px;
	display: flex;
	flex-direction: column;
	gap: .4em;
}
.letter-content a {
	color: var(--green-extralight);
}
.letter-content a:hover {
	color: var(--white);
}
.letter-content a:active {
	color: var(--green-light);
}
.letter-close {
	color: var(--green-extralight);
	padding: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 24px;
	line-height: 1.1em;
	text-align: center;
	gap: 40px;
	fill: var(--green-extralight);
	text-transform: uppercase;
	background-color: var(--green-dark);
	box-shadow: inset -20px -20px 30px var(--green-extradark), inset 20px 20px 30px var(--green-extralight);
	transition: color .2s, fill .2s, box-shadow .2s, background-color .2s, transform .6s cubic-bezier(0.76, 0, 0.24, 1);
}
.letter-close svg {
	width: 100%;
	height: 100%;
	max-height: 100px;
}
.letter-close:hover {
	box-shadow: inset -35px -35px 50px var(--green-extradark), inset 35px 35px 50px var(--green-extralight);
	color: var(--white);
	fill: var(--white);
}
.letter-close:active {
	box-shadow: inset -20px -20px 30px var(--green-light), inset 20px 20px 30px var(--green-extradark);
	background-color: var(--green-dark);
	color: var(--green-extradark);
	fill: var(--green-extradark);
}

/* PROJECT POPUP */
.project-container {
	width: 500px;
	height: var(--doc-height);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	font-size: 18px;
	line-height: 1.2em;
	color: var(--pink-extralight);
	display: grid;
	grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
	pointer-events: none;
}
.project-content-img {
	display: flex;
	flex-direction: column;
	background-color: var(--pink-dark);
	box-shadow: inset -20px -20px 30px var(--pink-extradark), inset 20px 20px 30px var(--pink-extralight);
	background-size: cover;
	background-position: center;
	transform: translateY(-100%);
	transition: transform .6s cubic-bezier(0.76, 0, 0.24, 1);
}
.project-content-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--pink-extradark);
	transform: translateY(100%);
	transition-delay: .2s;
	overflow-y: scroll;
	box-shadow: inset -20px -20px 30px var(--pink-dark), inset 20px 20px 30px rgba(0,0,0,.5);
	transition: transform .6s cubic-bezier(0.76, 0, 0.24, 1);
}
.project-content-info a {
	color: var(--pink-light);
}
.project-content-credits {
	color: var(--white);
	padding-right: 2.5em;
	padding-bottom: .8em;
}
.project-content-description {
	display: flex;
	flex-direction: column;
	gap: .8em;
	padding: 40px;
	overflow-y: scroll;
	height: 100%;
}
.project-content-links {
	display: flex;
	align-items: stretch;
	justify-content: stretch;
	text-align: center;
}
.project-content-links a {
	display: flex;
	line-height: 1em;
	padding: 20px;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	box-shadow: inset -5px -5px 10px var(--pink-extradark), inset 5px 5px 10px var(--pink-light);
	background-color: var(--pink-dark);
	color: var(--pink-extralight);
	text-decoration: none;
	transition: box-shadow .2s, color .2s;
}
.project-content-links a:hover {
	box-shadow: inset -10px -10px 10px var(--pink-extradark), inset 10px 10px 10px var(--pink-light);
	color: var(--white);
}
.project-content-links a:active {
	box-shadow: inset -5px -5px 10px var(--pink-light), inset 5px 5px 10px var(--pink-extradark);
	color: var(--pink-extradark);
}
.project-content-close {
	position: absolute;
	top: 40px;
	right: 40px;
	width: 2.2em;
	height: 2.2em;
	padding: 10px;
	z-index: 9;
	display: none;
	align-items: center;
	justify-content: center;
	fill: var(--pink-extralight);
	border-radius: 50%;
	background-color: var(--pink-dark);
	transform: scale(0);
	box-shadow: inset -5px -5px 10px var(--pink-extradark), inset 5px 5px 10px var(--pink-light);
	transition: fill .2s, box-shadow .2s, background-color .2s, transform .6s cubic-bezier(0.76, 0, 0.24, 1);
}
.project-content-close svg {
	width: 100%;
	height: 100%;
}
.project-content-close:hover {
	background-color: var(--pink-light);
	fill: var(--white);
	box-shadow: inset -10px -10px 10px var(--pink-extradark), inset 10px 10px 10px var(--pink-light);
}
.project-content-close:active {
	background-color: var(--pink-dark);
	fill: var(--pink-extradark);
	box-shadow: inset -5px -5px 10px var(--pink-light), inset 5px 5px 10px var(--pink-extradark);
}

/* TEXT AND PHOTO CONTENT */
.text-container, .photo-container {
	width: 500px;
	font-weight: 300;
	height: var(--doc-height);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	font-size: 18px;
	line-height: 1.2em;
	color: var(--white);
	pointer-events: none;
}
.text-content {
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: .8em;
	background-color: var(--pink-extradark);
	transform: translateX(-100%);
	transition-delay: .2s;
	overflow-y: scroll;
	box-shadow: inset -20px -20px 30px var(--pink-dark), inset 20px 20px 30px rgba(0,0,0,.5);
	transition: transform .6s cubic-bezier(0.76, 0, 0.24, 1);
	padding: 40px;
	overflow-y: scroll;
}
.text-content ol {
	margin-left: 22px;
	display: flex;
	flex-direction: column;
	gap: .8em;
}
.text-content a {
	color: var(--pink-extralight);
	transition: color .2s;
}
.text-content a:hover {
	color: var(--white);
}
.text-content a:active {
	color: var(--light);
}
.photo-content {
	height: 100%;
	background-color: var(--pink-dark);
	box-shadow: inset -20px -20px 30px var(--pink-extradark), inset 20px 20px 30px var(--pink-extralight);
	background-size: cover;
	background-position: center;
	transform: translateX(-100%);
	transition: transform .6s cubic-bezier(0.76, 0, 0.24, 1);
}
.text-close, .photo-close {
	position: absolute;
	top: 40px;
	right: 40px;
	width: 2.2em;
	height: 2.2em;
	padding: 10px;
	z-index: 9;
	display: none;
	align-items: center;
	justify-content: center;
	fill: var(--pink-extralight);
	border-radius: 50%;
	background-color: var(--pink-dark);
	transform: scale(0);
	box-shadow: inset -5px -5px 10px var(--pink-extradark), inset 5px 5px 10px var(--pink-light);
	transition: fill .2s, box-shadow .2s, background-color .2s, transform .6s cubic-bezier(0.76, 0, 0.24, 1);
}
.text-close svg, .text-close svg {
	width: 100%;
	height: 100%;
}
.text-close:hover, .photo-close:hover {
	background-color: var(--pink-light);
	fill: var(--white);
	box-shadow: inset -10px -10px 10px var(--pink-extradark), inset 10px 10px 10px var(--pink-light);
}
.text-close:active, .photo-close:active {
	background-color: var(--pink-dark);
	fill: var(--pink-extradark);
	box-shadow: inset -5px -5px 10px var(--pink-light), inset 5px 5px 10px var(--pink-extradark);
}

/* MOBILE STYLES */
.mobile-hamburger {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: scale(0);
	border-radius: 50%;
	box-shadow: inset -5px -5px 10px var(--green-extradark), inset 5px 5px 10px var(--green-light);
	background-color: var(--green-dark);
	color: var(--white);
	fill: var(--green-light);
	transition: fill .2s, box-shadow .2s, background-color .2s, transform .5s;
}
.mobile-hamburger svg {
	width: 100%;
	height: 100%;
}
.mobile-hamburger:hover {
	box-shadow: inset -10px -10px 10px var(--green-extradark), inset 10px 10px 10px var(--green-light);
	fill: var(--green-extralight);
}
.mobile-hamburger:active {
	box-shadow: inset -5px -5px 10px var(--green-light), inset 5px 5px 10px var(--green-extradark);
	fill: var(--green-extradark);
}
.sidebar-mobile-close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	padding: 5px;
	display: none;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	box-shadow: inset -5px -5px 10px var(--green-extradark), inset 5px 5px 10px var(--green-light);
	background-color: var(--green-dark);
	color: var(--white);
	fill: var(--green-light);
	transition: fill .2s, box-shadow .2s, background-color .2s;
}
.sidebar-mobile-close svg {
	width: 100%;
	height: 100%;
}
.sidebar-mobile-close:hover {
	box-shadow: inset -10px -10px 10px var(--green-extradark), inset 10px 10px 10px var(--green-light);
	fill: var(--green-extralight);
}
.sidebar-mobile-close:active {
	box-shadow: inset -5px -5px 10px var(--green-light), inset 5px 5px 10px var(--green-extradark);
	fill: var(--green-extradark);
}
#mobile-controls {
	display: none;
	position: absolute;
	bottom: -220px;
	width: 100vw;
	height: 150px;
	transition: bottom .5s ease-in-out;
}
@media only screen and (max-width: 800px) {
	* {
		cursor: inherit;
	}
	:root {
		--scale: 75px;
	}
	.cursor {
		display: none !important;
	}
	.container {
		grid-template-columns: 1fr;
		height: var(--doc-height);
	}
	.logo[data-transition="1"] {
		top: 70px;
		left: 85px;
		width: 150px;
		height: 126px;
	}
	.title {
		font-size: 20px;
	}
	.sidebar {
		z-index: 100;
		width: 100vw;
		grid-template-rows: 1fr 60px 4fr;
		transition: transform .8s cubic-bezier(0.76, 0, 0.24, 1);
	}
	.sidebar-mobile-close {
		display: flex;
	}
	.map-container {
		position: absolute;
		width: 100vw;
		height: calc(var(--doc-height) - 150px);
		top: 0;
		left: 0;
	}
	.map-cell {
		border: 2px solid var(--green-dark);
		margin: -1px;
		width: calc(var(--scale) + 2px);
		height: calc(var(--scale) + 2px);
	}
	#desktop-controls {
		display: none;
	}
	#mobile-controls {
		display: grid;
	}
	#mobile-controls[data-active="1"] {
		bottom: 0px;
	}
	.letter-container {
		grid-template-columns: 1fr;
		grid-template-rows: 4fr 1fr;
	}
	.letter-content {
		font-size: 18px;
		padding: 60px 40px;
	}
	.letter-close {
		padding: 40px;
		font-size: 18px;
		font-weight: 500;
		letter-spacing: -0.02em;
		gap: 20px;
	}
	.letter-close svg {
		height: 40px;
	}
	.project-container {
		grid-template-columns: 1fr;
		grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
		width: 100vw;
	}
	.text-container, .photo-container {
		width: 100vw;
	}
	.project-content-close, .text-close, .photo-close {
		top: 20px;
		right: 20px;
		display: flex;
		top: 10px;
		right: 10px;
		width: 40px;
		height: 40px;
		padding: 5px;
	}
	.mobile-hamburger[data-active="1"] {
		transform: scale(1);
	}
}